<div class="contacts-header-icons-container">
  <div class="icon-item" style="background-color: #5cbeb3; border: none;">
    <i class="material-icons" style="font-size: 30px; color: white;">sms</i>
  </div>
  <div class="icon-item" style="background-color: #e6e7e7">
    <i class="material-icons" style="font-size: 30px; color: #939495;">person</i>
  </div>
  <div class="icon-item" style="background-color: #e6e7e7">
    <i class="material-icons" style="font-size: 30px; color: #939495;">search</i>
  </div>
</div>
