<!-- root component -->

<div class="app">
  <div class="mobile-header">
    <div class="header-tabs">
      <app-header-tabs [isSmsTabActive]="isSmsTabActive" (onClickSmsIcon)='onClickSmsIcon($event)'></app-header-tabs>
    </div>
    <div class="profile-header" *ngIf="!isSmsTabActive">
      <app-profile-header [selectedContact]="selectedContact" [defaultSelectedContact]="defaultSelectedContact"></app-profile-header>
    </div>
  </div>

  <div class="desktop-header">
    <div class="header-tabs">
      <app-header-tabs [isSmsTabActive]="isSmsTabActive" (onClickSmsIcon)='onClickSmsIcon($event)'></app-header-tabs>
    </div>
    <div class="profile-header">
      <app-profile-header [selectedContact]="selectedContact" [defaultSelectedContact]="defaultSelectedContact"></app-profile-header>
    </div>
  </div>

  <div class="mobile-contact-chat-box">
    <div class="contact-list scrollable-container" *ngIf="isSmsTabActive;else activeChatBox">
      <app-contacts-list class="scrollable" [contacts]="contacts" (onSelect)='onSelect($event)' [selectedContact]="selectedContact"></app-contacts-list>
    </div>
    <ng-template #activeChatBox>
      <div class="chat-box scrollable-container">
        <app-chat-box [selectedContact]="selectedContact" [defaultSelectedContact]="defaultSelectedContact"></app-chat-box>
        <app-add-form-input></app-add-form-input>
      </div>
    </ng-template>

  </div>

  <div class="desktop-contact-chat-box">
    <div class="contact-list scrollable-container">
      <app-contacts-list class="scrollable" [contacts]="contacts" (onSelect)='onSelect($event)' [selectedContact]="selectedContact"></app-contacts-list>
    </div>
    <div class="chat-box scrollable-container">
      <app-chat-box class="scrollable" [selectedContact]="selectedContact" [defaultSelectedContact]="defaultSelectedContact"></app-chat-box>
      <app-add-form-input></app-add-form-input>
    </div>
  </div>

  <app-notification-toast [notification]="notification"></app-notification-toast>

</div>
